<template>
    <div id="app">
    <SideBar isActive="index"/>
        <div class="container p-0 m-0">
            <div class="row h-100 align-items-center p-0 m-0">
                    
                    <div class="row justify-content-center d-flex attend-container">
                        <div class="card p-0 m-0" style="width: 25rem; ">
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 h-100 p-5 m-0">
                                    <h1 class="text-center mt-1">Attendance</h1>
                                    <br>
                                    <div class="form-group">
                                        <h5 class="text-center mt-3">OJT Remaining Hours: 80 hours</h5>
                                        <p class="text-center mt-3">Date: 10/02/21 4:49 PM</p>
                                        <br>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Student ID">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary form-control">Time-in</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
            </div>
        </div>
        
    </div>
</template>
<script>
import SideBar from "@/components/navigations/Sidebar";
export default {
    components: { SideBar }
}
</script>

<style>
.attend-container{
    position: absolute;
    top: 10%;
    left: 45%;
}


.text-inform{
    font-size: 1.8rem;
}

.container-fluid{
    overflow: hidden;
}
</style>