<template>
    <div id="app">
    <SideBar isActive="index"/>
        <div class="container-fluid p-0 m-0">
            <div class="row h-100 align-items-center p-0 m-0">
                    <div class="row justify-content-center d-flex info-container">
                            <div class="col-3 h-100 p-5 m-0"></div>
                            <div class="col-12 h-100 p-5 m-0">
                                
                                <div class="form-group mt-5">
                                    <p class="text-inform">Name:Derick Justin M. Durante</p>
                                </div>
                                <div class="form-group">
                                    <p class="text-inform">Year Level: AI-14</p>
                                </div>
                                <div class="form-group">
                                    <p class="text-inform">Department: IT Department</p>
                                </div>
                                <div class="form-group">
                                <button type="button" class="btn btn-outline-primary mb-5 float-right" data-toggle="modal" @click="$bvModal.show('editModal')">Edit</button>
                                </div>
                                
                            </div>
                            <div class="col-2"></div>
                    </div>
                    
            </div>
        </div>

        <!-- Edit Modal -->
        <b-modal id="editModal" title="Edit Information">
            <template>
                <div class="form-group">
                    <input type="text"  class="form-control" id="name" placeholder="FirstName">
                </div>
                <div class="form-group">
                    <input type="text"  class="form-control" id="name" placeholder="MiddleInitial">
                </div>
                <div class="form-group">
                    <input type="text"  class="form-control" id="name" placeholder="LastName">
                </div>
                <div class="form-group">
                    <input type="text"  class="form-control" id="name" placeholder="Section">
                </div>
                <div class="form-group">
                    <input type="text"  class="form-control" id="name" placeholder="YearLevel">
                </div>
                <div class="form-group">
                    <input type="text"  class="form-control" id="name" placeholder="Department">
                </div>
            </template>
            <template #modal-footer="{ ok, cancel}">
                <b-button size="sm" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                <b-button size="sm" variant="primary" @click="ok()">
                    Save
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
import SideBar from "@/components/navigations/Sidebar";
export default {
    components: { SideBar }
}
</script>

<style>
.info-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}


.text-inform{
    font-size: 1.8rem;
}

.container-fluid{
    overflow: hidden;
}
</style>