<template>
  <div id="app">
    <div class="container-fluid p-0 m-0" style="height: 100vh">
        <div class="row h-100 align-items-center p-0 m-0">
            <div class="row justify-content-center d-flex form-container">
                <div class="form-card p-0 m-0" style="width: 25rem; ">
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 h-100 p-5 m-0">
                                    <h1 class="text-center mt-3 text-white">Create Account</h1>
                                    <div class="">
                                        <div class="form-group">
                                        <label class="" for="email">First Name</label>
                                        <input class="form-control " v-model="data.first_name" type="text"   id="email" placeholder="First Name" >
                                    </div>
                                      <div class="form-group">
                                        <label class="" for="email">Email</label>
                                        <input class="form-control " v-model="data.email" type="text"  id="email" placeholder="Email" >
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="" for="password">Student ID</label>
                                        <input type="text" class="form-control " v-model="data.student_number" id="password"  placeholder="Student ID Number" >
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="password">Password</label>
                                        <input type="password" class="form-control " v-model="data.password" id="password"  placeholder="Password" >
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="password"> Confirm Password</label>
                                        <input type="password" class="form-control " v-model="data.cpass" id="password"  placeholder="Confirm Password" >
                                    </div>
                                    <div class="form-group mt-4">
                                        <button class="btn-primary form-control " @click.prevent="createAccount">Register</button>
                                    </div>
                                    <p>Already have an Account? <router-link to="/Login"><a href="" class="font-italic">Login </a></router-link></p>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    // Loading,
  },
  async mounted() {
    // this.loading = true;
    const res = await this.callApi(
      "post",
      `api/auth/me?token=${this.$store.state.token}`
    );
    if (res.status == 200) {
      this.$router.push("/StudentInfo");
    //   this.loading = false;
    } else {
      this.$store.commit("clearToken");
      localStorage.removeItem("first_name");
      localStorage.removeItem("student_id");
    //   this.loading = false;
    }
  },
  data() {
    return {
      data: {
        first_name: "",
        email: "",
        student_number: "",
        password: "",
        cpass: "",
      },
    //   loading: false,
    };
  },
  methods: {
    async createAccount() {
      if (this.data.first_name.trim() == "")
        return this.error("Your full name is required");
      if (this.data.email.trim() == "")
        return this.error("Your email address is required");
      if (this.data.student_number.trim() == "")
        return this.error("Your student ID is required");
      if (this.data.password.trim() == "")
        return this.error("Your Password is required");
      if (this.data.password != this.data.cpass)
        return this.error("Your password doesnt match");

    //   this.loading = true;
      const res = await this.callApi("post", "api/auth/create", this.data);
      if (res.status == 200) {
        this.success("Account created successfuly!");
        // this.loading = false;
        this.clearFields();
        this.$router.push('/')
      } else {
        if (res.status == 422) {
          for (let i in res.data.errors) {
            this.warning(res.data.errors[i][0]);
            // this.loading = false;
          }
        }
        // this.loading = false;
      }
    },
    clearFields() {
      this.data.first_name = "";
      this.data.email = "";
      this.data.student_number = "";
      this.data.password = "";
      this.data.cpass = "";
    },
  },
};
</script>

<style>
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-card{
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
}

.container-fluid{
    background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
    overflow: hidden;
}
</style>
